body {
  height: auto;
}
.main-frame {
  padding: 1%;
  width: 940px;
  margin: 0 auto;
  border: 5px solid black;
  background-color: #fefefe;
}
.health-business-title {
  margin: 0 41% 0 0;
  text-decoration: none;
  font-size: larger;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgb(160, 151, 141);
  position: fixed;
  top: 0;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
}


.container-main-content {
  padding: 1%;
  background: rgb(160, 151, 141);
}
.main-content {
  display: inline-block;
  width: 50%;
  border: black;
}
.main-image {
  width: 100%;
}
.main-content p {
  color: #f2f2f2;
  margin-bottom: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.side-content {  
  
  display: flex;
  height: 120px;
  align-items: center;
  width: 45%;
  border: black solid;
  margin-left: 55%;
  margin-bottom: 5;
}

img, p {
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;

 }
.side-content img {
 padding: 1%;
 max-width: 100%;
 width: 100px;
 height: 120px;
 object-fit: cover;
 
}

