body {
  font-family: "Roboto", sans-serif;
  height: auto;
}

.back-ground-image-div {
  z-index: -3;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(241, 154, 111, 0.253),
      rgba(61, 31, 31, 0.822)
    ),
    url("https://previews.123rf.com/images/number168/number1681702/number168170200035/72335654-abstract-futuristic-hexagon-shape-on-light-gray-color-background-vector-illustration-science-innovat.jpg");
  background-size: initial;
  opacity: 30%;
  top: 0;
}

.health-business-title {
  margin: 0 46% 0 0;
  text-decoration: none;
  font-size: 17px;
}

.health-business-title:hover {
  text-decoration: none;
  margin: 0 46% 0 0;
}
.fa-facebook-f:hover {
  color: aqua;
}
.fa-twitter:hover {
  color: aqua;
}
.fa-instagram:hover {
  color: aqua;
}
.navegacao {
  z-index: 1;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* background-color: rgb(160, 151, 141); */
  background-color: #c7b198;
  width: 100%; /* Full width */
}
.navegacao a {
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.sub-navegacao {
  top: 60px;
  width: 100%;
  position: fixed;
  font-size: 26px;
  background-color: #b3a28d;
  border: 0 none;
  opacity: 96%;
  display: block;
}
.sub-navegacao li {
  margin: 0 42% 0 auto;
}

.sub-navegacao a {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}
.sub-navegacao a:hover {
  color: aqua;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
main {
  margin-top: 150px;  
}

.main-frame {
  background-color: #dfd3c3;
  width: 940px;
  padding: 1%;
  margin: 0 auto;
  border-radius: 4px;
  
}
.main-content-container {
  padding: 1.3%;
  background: #b3a28d;  
  
}
.main-content {  
  position: absolute;
  max-width: 430px;
  min-width: 230px;  
}
.main-content img{  
  margin-bottom: 15px;
}
.main-content:nth-child(1) {
  
  text-align: center;
  color: aliceblue;
}

.main-content p {
  color: #f2f2f2;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

.main-content a {
  text-decoration: none;
  color: #f2f2f2;
}
.main-content a:hover {
  color: rebeccapurple;
}

.side-content {
  
  display: inline-block;
  height: 120px;
  width: 47%;
  margin-left: 51%;  
  text-decoration: none;  
  color: #f2f2f2;
}

.side-content img {
  float: left;
  padding: 1%;
  max-width: 35%;
  height: 98px;
  object-fit: inherit;
}

.side-content div {
  display: block;
  width: 100%; 
    
}
.side-content a {
  text-decoration: none;
  color: #f2f2f2;;
}
.side-content a:hover {
  text-decoration: underline;
  color: rebeccapurple;
}
.side-content h3  {
  text-align: center;
  font-size: 18px;  
  
}
.side-content h3:hover  {
  text-decoration: underline;
    
}
.side-content p  {
  text-align: left;
  font-size: 15px;  
  text-align: justify;
  text-justify: inter-word;
  margin-left: 5.4vw;
  

}

.second-main-image {  
  position: relative; 
  width: 100%; 
  max-height: 135px;  
  clear: right;
  
}
.second-main-image img {  
 
  
}
.main-content h1 { 
  font-size: 23px;
  color: #f2f2f2;
}
.main-content h1:hover {
  text-decoration: underline;
  font-size: 23px;
  color: #f2f2f2;
}

.video h3{
  font-size: 24px;
}
.copy-right-footer {
  clear: right;
  position: fixed;
  overflow: hidden;
  padding: 1rem;  
  width: 100%;
  max-height: 50px;
  background-color: #c7b198;
  bottom: 0;
  opacity: 97%;
}
.copy-right-footer p {
  
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin-top: 5px;
}
