body {  
  height: auto;
}
.main-frame {
  width: 940px;
  padding: 1%;
  margin: 0 auto;
  /* border: 5px solid black; */
  background-color: #d1d6db;
  
}
.health-business-title {
  margin: 0 46% 0 0;
  text-decoration: none;
  font-size: larger;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgb(160, 151, 141);
  position: fixed;
  top: 0;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
}


.main-content-container {
  display: inline-block;   
  padding: 1%;
  background: rgb(160, 151, 141);
  
}
.main-content {  
  position: absolute;
  max-width: 430px;
  min-width: 230px; 

  cursor: pointer;  
}

.main-content p {   
  color: #f2f2f2;
  margin-bottom: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.side-content {    
  display: flex;
  height: 120px;  
  width: 47%; 
  margin-left: 51%;
  margin-bottom: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

 img + p {  
  text-align: justify;
  text-justify: inter-word;

 }
.side-content img {
 padding: 1%;
 max-width: 35%; 
 height: 120px;
 object-fit: cover;
  
}

.fist-side-content,p { 
  color: #f2f2f2;
  /* background-color: rgb(93, 167, 167); */
}
.second-side-content {
  /* background-color: rgb(76, 67, 151); */
  
}
.third-side-content {
  /* background-color: rgb(7, 65, 10); */
  
}

